In [3]:
import pandas as pd
s1 = pd.Series(['Saheel', 'hey' , 'you'])
s2 = pd.Series(['34' , '56' , '78'])

print(s1)
print(s2)

0    Saheel
1       hey
2       you
dtype: object
0    34
1    56
2    78
dtype: object

In [4]:
pd.concat([s1, s2])

0    Saheel
1       hey
2       you
0        34
1        56
2        78
dtype: object

In [5]:
df = pd.DataFrame({'name': s1 , 'age': s2})

In [6]:
df

     name age
0  Saheel  34
1     hey  56
2     you  78

In [16]:
for index , row in df.iterrows():
    print(index , row[0])

0 Saheel
1 hey
2 you

In [17]:
from sklearn.datasets import load_iris

In [34]:
df = load_iris()

In [45]:
data =  df.data

In [36]:
df.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [40]:
df.feature_names[2]

'petal length (cm)'

In [43]:
petal = data.iloc[2]

NameError: name 'data' is not defined