In [1]:

import pandas as pd

In [2]:
pd.__version__

'0.24.2'

In [6]:
s = pd.Series(['hello', 'world', 'LCO'], index = ['a', 'b' , 'c'])

In [7]:
s

a    hello
b    world
c      LCO
dtype: object

In [17]:
s['a': 'b'] #INDEX SLICING

a    hello
b    world
dtype: object

In [8]:
s.index

Index(['a', 'b', 'c'], dtype='object')

In [9]:
s[0]

'hello'

In [10]:
s.keys

<bound method Series.keys of a    hello
b    world
c      LCO
dtype: object>

In [11]:
s.values

array(['hello', 'world', 'LCO'], dtype=object)

In [12]:
s1 = pd.Series([1,2,3,4,5])

In [13]:
s2 = pd.Series([44,23,55,67,99])

In [14]:
s1 + s2

0     45
1     25
2     58
3     71
4    104
dtype: int64

In [16]:
#MISSING VALUES - NaN
s1 = pd.Series([1,2,3,4,5]) 
s2 = pd.Series([44,23,55,99])
s3 = s1+s2

0     45.0
1     25.0
2     58.0
3    103.0
4      NaN
dtype: float64

In [18]:
pd.Series(5 , index = [1,2,3,4,5,6,7]) #ONLY 5 IS THE VALUE AND INDEX FROM 0................

1    5
2    5
3    5
4    5
5    5
6    5
7    5
dtype: int64

In [19]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [20]:
s2

0    44
1    23
2    55
3    99
dtype: int64

In [23]:
pd.concat([s1,s2] ) #CONCATENATE THE PANDAS SERIES WITH AXIS 2D DATA

   0     1
0  1  44.0
1  2  23.0
2  3  55.0
3  4  99.0
4  5   NaN

In [26]:
# , -> can be + , - , / , *

pd.concat([s1 ,  s2] , axis =1)

   0     1
0  1  44.0
1  2  23.0
2  3  55.0
3  4  99.0
4  5   NaN

In [34]:
df= pd.DataFrame([[x for x in range(3)] for _ in range(3)] , index=['a' , 'b' , 'c'], columns = ['2' , '3' , '4'])

In [35]:
df['2']

a    0
b    0
c    0
Name: 2, dtype: int64

In [40]:
s1 = pd.Series([12,34,56])

In [41]:
s2 = pd.Series(['saheel', 'anurag', 'abhi'])

In [44]:
df1 = pd.DataFrame({"name":s2 , "age": s1})

In [45]:
df1

     name  age
0  saheel   12
1  anurag   34
2    abhi   56

In [73]:
s3 = pd.Series([12,34,56])
s4 = pd.Series(['saheel', 'anurag', 'abhi'])

df2 = pd.DataFrame({"name": s4 , "age" : s3})

In [74]:
df2

     name  age
0  saheel   12
1  anurag   34
2    abhi   56

In [79]:
pd.concat([ df1 , df2 ], axis =1)

     name  age    name  age
0  saheel   12  saheel   12
1  anurag   34  anurag   34
2    abhi   56    abhi   56

# IF THERE IS NO COMMON ELEMENT IN TWO DF's WE CANNOT JOIN DF'S

In [84]:
df1['name'].loc[0 ]

'saheel'

In [ ]:
df[]

In [86]:
def check(x):
    if x<40:
        return x**2
    else:
        return x

In [88]:
df1['age'].apply(check)

0     144
1    1156
2      56
Name: age, dtype: int64

In [90]:
pd.isna(df1['age'])

0    False
1    False
2    False
Name: age, dtype: bool

In [92]:
df1.to_csv("file.csv")

In [1]:
from sklearn.datasets import load_iris

In [2]:
x = load_iris()

In [4]:
x.data

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [5]:
x.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [12]:
x.feature_names[3]

'petal width (cm)'