In [1]:
from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression, Ridge, RidgeCV
from sklearn.model_selection import train_test_split, cross_val_score
import numpy as np
import pandas as pd

In [2]:
data = load_boston()

In [3]:
df = pd.DataFrame(data.data, columns=data.feature_names)

In [25]:
data.feature_names

(13,)

In [21]:
data.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [23]:
data.target.shape

(506,)

In [5]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [6]:
x_train, x_test, y_train, y_test = train_test_split(df, data.target, test_size=0.33, random_state=42)

In [7]:
len(y_test)

167

In [8]:
line = LinearRegression()

In [9]:
line.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
line.coef_

array([-1.28749718e-01,  3.78232228e-02,  5.82109233e-02,  3.23866812e+00,
       -1.61698120e+01,  3.90205116e+00, -1.28507825e-02, -1.42222430e+00,
        2.34853915e-01, -8.21331947e-03, -9.28722459e-01,  1.17695921e-02,
       -5.47566338e-01])

In [11]:
line.score(x_test, y_test)

0.7261570836552479

In [26]:
cross_val_score(line, x_test, y_test , cv=5).mean()

0.6404549656380285

In [13]:
r = Ridge(alpha=0.005, solver='sag', max_iter=100000, tol=0.00001)

In [14]:
r.fit(x_train, y_train)

Ridge(alpha=0.005, copy_X=True, fit_intercept=True, max_iter=100000,
      normalize=False, random_state=None, solver='sag', tol=1e-05)

In [15]:
r.score(x_test, y_test)

0.7168991106013856

In [27]:
cross_val_score(r, x_train, y_train , cv=3).mean()

0.6997905556229691

In [17]:
r.coef_

array([-0.11999691,  0.03886816,  0.01176096,  3.12569903, -5.43410249,
        3.95931956, -0.02232927, -1.26157792,  0.20786401, -0.00909774,
       -0.80541293,  0.01205662, -0.56870346])

In [18]:
rr = RidgeCV(alphas=(0.1, 1.0, 0.001, 0.0001, 0.05, 0.5, 0.005))

In [19]:
rr.fit(x_train, y_train)

RidgeCV(alphas=array([1.e-01, 1.e+00, 1.e-03, 1.e-04, 5.e-02, 5.e-01, 5.e-03]),
        cv=None, fit_intercept=True, gcv_mode=None, normalize=False,
        scoring=None, store_cv_values=False)

In [20]:
rr.alpha_

0.005