# Day 29

### Polynomial Regression

In [113]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import Ridge, RidgeCV
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LassoCV, Lasso
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv("./Data/winequality-red.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [61]:
y = df['quality']
df_x = df.drop('quality', axis=1)
df_x.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [66]:
x_train, x_test, y_train, y_test = train_test_split(df_x, y, test_size=0.1)

In [73]:
l = LinearRegression()
l.fit(x_train, y_train)
print("Linear Regression score: ", l.score(x_test, y_test))

Linear Regression score:  0.3901635304336306

In [128]:
p = PolynomialFeatures(2)
x_train_ = p.fit_transform(x_train)
x_test_ =  p.fit_transform(x_test)
x_train_.shape

(1439, 78)

In [129]:
line = LinearRegression()
line.fit(x_train_, y_train)
line.score(x_test_, y_test)

0.48619078736342447

In [130]:
r = Ridge()
r.fit(x_train_, y_train)
r.score(x_test_, y_test)

0.4756659811928563

In [132]:
las = Lasso(alpha=0.05, max_iter=100000)
las.fit(x_train_, y_train)
las.score(x_test_, y_test)

0.4248858741368541

In [ ]:
# TODO - Read ARD regression, elastic net